<div class="submenu-nav">
    @if(user){
        <div class="menu-item" [routerLink]="['/ikasle', user.id, 'datuP']" routerLinkActive="active">
            {{ 'menu_user.datos' | translate }}
        </div>
        <div class="menu-item" [routerLink]="['/ikasle', user.id, 'ordutegia']" routerLinkActive="active">
            {{ 'menu_user.horario' | translate }}
        </div>
        <div class="menu-item" [routerLink]="['/ikasle', user.id, 'bilera']" routerLinkActive="active">
            {{ 'menu_user.reuniones' | translate }}
        </div>
    }
</div>

<div class="content-area">
    @if(user){
        @if(user.tipo_id == 4){
            <router-outlet></router-outlet>
        }@else{
            <p class="error-msg">{{ 'menu_user.error_no_profesor' | translate }}</p>
        }
    }
</div>