<div class="container">
  @if(currentUser) {
    
    <h2>{{ 'ordutegia.titulo' | translate }} {{ currentUser.nombre }}</h2>

    <table class="tabla-horario" id="taula">
      <thead>
        <tr>
          <th>{{ 'ordutegia.tabla.hora' | translate }}</th>
          
          @for (dia of dias; track dia) {
            <th>{{ 'ordutegia.dias.' + dia | translate }}</th>
          }
        </tr>
      </thead>
      <tbody>
        @for (franja of franjasHorarias; track franja.id) {
          <tr>
            <td class="hora-celda">{{ franja.texto }}</td>
            
            @for (dia of dias; track dia) {
              <td>
                @if (getClase(dia, franja.id); as clase) {
                  <div class="clase-info">
                    
                    <strong>
                      {{ 'ordutegia.tabla.modulo' | translate }}: {{ clase.modulo_id }}
                    </strong>
                    <br>

                    @if (clase.aula) {
                      <span>
                        {{ 'ordutegia.tabla.aula' | translate }}: {{ clase.aula }}
                      </span>
                    }
                  </div>
                }
              </td>
            }
          </tr>
        }
      </tbody>
    </table>
  }
</div>