<div class="container-bilerak">
  @if(currentUser; as user){
    <div class="header-container">
      <h2>
        {{ 'bilerak.titulo_usuario' | translate: { nombre: user.nombre } }}
      </h2>

      @if (!esProfesor) {
        <button class="btn btn-primary" [routerLink]="['/ikasle', user.id, 'addBilerak']">
           {{ 'bilerak.boton_anadir' | translate }} 
        </button>
      }
    </div>
  }

  @if (bilerak.length > 0) {
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>{{ 'bilerak.tabla.fecha' | translate }}</th>
            <th>{{ 'bilerak.tabla.asunto' | translate }}</th>
            <th>
               {{ (esProfesor ? 'bilerak.tabla.alumno' : 'Profesor') | translate }}
            </th>
            <th class="col-estado">{{ 'bilerak.tabla.estado' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          @for (reunion of bilerak; track reunion.id_reunion) {
            <tr>
              <td>{{ reunion.fecha | date:'dd/MM/yyyy HH:mm' }}</td>
              <td>{{ reunion.asunto }}</td>
              
              <td><strong>{{ solaskideaLortu(reunion) }}</strong></td> 
              
              <td class="td-estado">
                <div class="estado-container">
                  <span class="badge-texto" [class]="reunion.estado">
                    {{ reunion.estado | titlecase }}
                  </span>

                  @if (esProfesor) {
                    <select 
                      class="select-mini" 
                      [value]="reunion.estado"
                      (change)="selectBidezEguneratu(reunion, $event)">
                      <option [value]="eEstado.pendiente">Pendiente</option>
                      <option [value]="eEstado.aceptada">Aceptada</option>
                      <option [value]="eEstado.denegada">Denegada</option>
                      <option [value]="eEstado.conflicto">Conflicto</option>
                    </select>
                  }
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  } @else {
    <div class="alert alert-info">
      {{ 'bilerak.sin_reuniones' | translate }}
    </div>
  }
</div>