<body>
  <form [formGroup]="bileraForm" (ngSubmit)="guardarReunion()">
    
    <div id="contenedor-principal">
      
      <div id="aukeratuZentroa">
        <h2>1. Aukeratu Zentroa</h2>
        
        <div id="lista-centros">
          <ul>
            @if (ikastetxeak$ | async; as zerrenda) {
              @for (ikastetxea of zerrenda; track ikastetxea.CCEN) {
                <li (click)="seleccionarCentro(ikastetxea)" 
                    [class.seleccionado]="bileraForm.get('centroId')?.value === ikastetxea.CCEN">
                  
                  <span>{{ ikastetxea.NOM }}</span>
                  <button type="button" class="btn-select">+</button>
                </li>
              }
            } @else {
              <p>Cargando centros...</p>
            }
          </ul>
        </div>

        <div id="mapa">
          @if (mapaUrl) {
            <iframe [src]="mapaUrl" width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen></iframe>
          } @else {
            <div class="mapa-placeholder">Aukeratu zentro bat mapan ikusteko</div>
          }
        </div>
      </div>

      <div id="aukeratuIrakaslea">
        <h2>2. Aukeratu Irakaslea</h2>
        <div id="lista-profes">
          <ul>
            @if (irakasleak$ | async; as zerrenda) {
              @for (irakaslea of zerrenda; track irakaslea.id) {
                
                <li (click)="seleccionarProfesor(irakaslea)"
                    [class.seleccionado]="bileraForm.get('profesorId')?.value === irakaslea.id">
                  
                  <span>{{ irakaslea.nombre }} {{ irakaslea.apellidos }}</span>
                  <button type="button" class="btn-select">+</button>
                </li>
              }
            }
          </ul>
        </div>
      </div>

      <div id="aukeratuData">
        <h2>3. Eguna eta Ordua</h2>
        
        <div class="input-group">
          <label>Eguna:</label>
          <input type="date" formControlName="fecha">
        </div>

        <div class="input-group">
          <label>Ordua:</label>
          <input type="time" formControlName="hora">
        </div>
      </div>

    </div>

    <button type="submit" [disabled]="!bileraForm.valid" class="btn-guardar">
      Sortu Bilera
    </button>

  </form>
</body>