<div class="login-container">
  <div class="login-card">
    <img src="logo.png" alt="Logo" class="login-logo" width="300" />  
    <h2>Login</h2>

    <div *ngIf="loginError" class="simple-alert">
      Usuario o contraseña incorrecta
    </div>

    <form (ngSubmit)="login()">
      <input
        type="text"
        [(ngModel)]="userForm.value.email"
        name="email"
        placeholder="correo@ejemplo.com"
        required
      /><br>

      <input
        type="password"
        [(ngModel)]="userForm.value.password"
        name="password"
        placeholder="Contraseña"
        required
      />

      <button type="submit">Entrar</button>
    </form>
  </div>
</div>
