<div class="login-container">
  <div class="login-card">
    <img src="logo.png" alt="Logo" class="login-logo" width="300" />
    
    <h2>{{ 'login.titulo' | translate }}</h2>
    @if(loginError){
    <div class="simple-alert">
      {{ 'login.error_msg' | translate }}
    </div>
  }

    <form (ngSubmit)="login()">
      <input
        type="text"
        [(ngModel)]="userForm.value.email"
        name="email"
        [placeholder]="'login.placeholder_email' | translate"
        required
      /><br>

      <input
        type="password"
        [(ngModel)]="userForm.value.password"
        name="password"
        [placeholder]="'login.placeholder_pass' | translate"
        required
      />

      <button type="submit">
        {{ 'login.btn_entrar' | translate }}
      </button>
    </form>
  </div>
</div>